---
BasedOnStyle: Google
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortEnumsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'All'
AllowShortIfStatementsOnASingleLine: 'Always'
AllowShortLambdasOnASingleLine: 'Inline'
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'No'
IndentCaseLabels: 'true'
IndentWidth: '4'
NamespaceIndentation: 'All'
AccessModifierOffset: -4
...
